<div class="col align-self-end">
	<h1>Feuille d'aventure</h1>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Habilité</th>
					<th scope="col">Endurance</th>
					<th scope="col">Chance</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class='abilityValue'>{{ character.intAbility }}
						/
						{{ character.ability }}</td>
					<td class='staminaValue'>{{ character.intStamina }}
						/
						{{ character.stamina }}</td>
					<td class='luckValue'>{{ character.intLuck }}
						/
						{{ character.luck }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div></div>
