<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">
			{% if is_granted('ROLE_USER') %}
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('character') }}">Aventure</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
					</li>
					<span class="navbar-text">Bienvenue:
						{{ app.user.getUserPseudo}}</span>
				{% else %}
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
